# Secrets
!.env
!.env.example
!projet/.env
!projet/.env.example

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
venvmlops/
projet/.venv/

# ML artifacts
projet/artifacts/
projet/artifacts-ci/
projet/mlruns/

# Notebooks
.ipynb_checkpoints/

# Editors / OS
.DS_Store
.idea/
.vscode/
